"Blaze Meteor Template":
  type: "GROUP"
  "[{[templateName]}].html":
    type: "FILE"
    content: '''
      <template name="[{[templateName]}]">
        
      </template>
    '''
  "[{[templateName]}].js":
    type: "FILE"
    content: '''
      Template.[{[templateName]}].helpers ( { 
        
      } );
       
       Template.[{[templateName]}].events ( { 
         
       } );
       
        
        Template.[{[templateName]}].onRendered ( ( ) => { 
          
        } );  
    '''
