"Sample Grou":
  type: "GROUP"
  "Sample Coffe File.coffee":
    type: "FILE"
SampleFolder:
  type: "FOLDER"
  "[{[fileName]}].coffee":
    type: "FILE"
    content: '''
      [{[textToReplace]}]
      
      [{[textToReplace2]}]
    '''
